   
		
	
		   
	     a:link, a:visited{
	     	color:purple;
	     	background-color: blue;
	     	display:block;
	     	width:200px;
	     	height: 30px;
	     	margin-bottom:1px;

	     }
	     a:hover{
	     	background-color: yellow;
	     }
          a:active{
          
          
          	background-color: grey;}










          	
          


