h1{
text-align: center;
}
.border{
	margin:0px;
padding:10px;
	float: left;
	box-sizing: border-box;
}

#cn{
	background-color: #6A8EF0;
	float:right;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 150%;
	position:relative;
	left:0.5px;
	bottom: 0.5px;

}
#bf{
	background-color: #EE8340;
	float:right;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 150%;
	width:50px;
	position:relative;
	left:0.5px;
	bottom: 0.5px;
}
#sh{
	background-color: #61CD59;
	float:right;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 150%;
	position:relative;
	left:0.5px;
	bottom: 0.5px;
}

div>section{
	border: 2px solid black;
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	float: right;
	background-color: #A1F3FF;
}
p{
	clear:right;
	font-size: 120%;
	padding:5px;
}
@media (min-width:992px){
	.border{
		width :33.33%;
	}
}
@media (min-width:768px) and (max-width:991px){
	.border{
		width:50%;
	}
	#bordsh{
		width:100%;
	}
}
@media (max-width: 767px){
	.border{
		width:99%;
	}
}